*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidecontainer {
    width: 15%;
    height: 100%;
    background-color: rgb(241, 241, 241);
    border-right: .1px solid rgb(221, 221, 221);
}

.sidetop {
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding-top: 15px;
}

.sidebott {
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.sideimg {
    color: rgb(124, 124, 124);
    padding-right: 7px;
}

.savedreports {
    color: rgb(124, 124, 124);
    padding: 25px 0px 7px 10px;
}

.sideplus {
    float: right;
}

.sidetext {
    padding: 10px;
}