*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list {
  margin: 2%;
  border-collapse: collapse;
  width: 96%;
  background-color: #bcead5;
  color: #393e46;
}
.list td,
.list th {
  border-top: 1px solid #def5e5;
  padding: 8px;
}
.list tr:nth-child(even) {
  background-color: #def5e5;
}

.list tr:hover {
  background-color: #8ec3b0;
}

.list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9ed5c5;
  color: #393e46;
}
