@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Vazirmatn:wght@200;400&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Vazirmatn;
}

.header{
    width: 100%;
    height: 90px;
    background-color: #272c30;
    /* padding: 10px; */
    font-size:1.5rem ;
    color: white;

}
.box-item{
    display: flex;
    height: 100%;
    justify-content:center;
    align-items: center;
    
}
.item{
    list-style: none;
    /* border: 1px solid red; */
    height: 100%;
    
    
    
}
.item:hover{
    cursor: pointer;
}
.item1{
    flex: 1;
    padding-left: 10px;
    padding-top:25px;
}
.item2{
    flex: 6;
   
}
.item3{
    padding:25px 10px;
    /* padding-top:35px; */
}
.input{
    height: 100%;
    width: 100%;
   font-size: 1.5rem;
   background-color: #494e54;
   padding-left: 10px;
}

.sidecontainer {
    width: 15vw;
    height: calc(100vh - 90px);
    background-color: rgb(241, 241, 241);
    border-right: .1px solid rgb(221, 221, 221);
}

.sidetop {
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding-top: 15px;
}

.sidebott {
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.sideimg {
    color: rgb(124, 124, 124);
    padding-right: 7px;
}

.savedreports {
    color: rgb(124, 124, 124);
    padding: 25px 0px 7px 10px;
}

.sideplus {
    float: right;
}

.sidetext {
    padding: 10px;
}

#dashboard {
    color: rgb(9, 95, 255);
}

.dashboardicon {
    color: rgb(9, 95, 255);
}

.sidetext:hover {
    color: rgb(255, 102, 0);
}